body {
    display: flex;
    justify-content: center;
    color: grey;
}


main{
    width: 1140px;
}
header{
display: flex;
justify-content: space-between;

}

 nav a { 
     font-weight: bold;
     padding: 6px 24px ;
     margin:  6px;
     border-radius: 2px;
     /* border-radius to spiłowanie kantów ramki */
 }
/* nav a hover to podswietlenie tła po najechaniu */
nav a:hover{
    background: #646d72;
    
}
#logo {
width:  131px;

}
